pandas==2.0.3
#fastapi
python-dotenv==1.0.0
pydantic==1.10.12
langchain==0.0.262
#openpyxl
#tiktoken
openai==0.27.8
#faiss-cpu
pip-tools
#google-cloud-bigquery
#google-auth
#pandas-gbq
#openpyxl
streamlit









